main {
  flex: 1 1 auto;
  margin-top: 80px;
  padding: 80px;
  min-height: 768px;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 6px;
}

.project-image {
  width: 100%;
  margin: 6px;
}

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
}